

@font-face {
  font-family: 'AtypDisplay-Regular';
  src:url('../fonts/AtypDisplay-Regular.eot?-kwf309');
  src:url('../fonts/AtypDisplay-Regular.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/AtypDisplay-Regular.woff?-kwf309') format('woff'),
    url('../fonts/AtypDisplay-Regular.ttf?-kwf309') format('truetype'),
    url('../fonts/AtypDisplay-Regular.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'SuisseIntl-Regular';
  src:url('../fonts/SuisseIntl-Regular.eot?-kwf309');
  src:url('../fonts/SuisseIntl-Regular.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Regular.woff?-kwf309') format('woff'),
    url('../fonts/SuisseIntl-Regular.otf?-kwf309') format('truetype'),
    url('../fonts/SuisseIntl-Regular.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}


:hover {
  transition: 0.3s;
} 

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;

}

body {
 font-family: 'SuisseIntl-Regular';
 margin: 0;
 background: #fff;
 background: #F6F7F9;
}

img {
  max-width: 100%;
}

input:focus {
  
  outline:none;
}

input {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear {clear:both;}

.container {
  padding: 0 66px;
  max-width: 1920px;
  margin: 0 auto;
}


/*BURGER*/

.mt-munu-mb {
  padding: 0 0 0 0;
}



.burger {
  position: absolute;
  top: 0;
  left: 0;
  display: none !important;
  color: #23f0ff;
  cursor: pointer;
  z-index: 12;
  display: flex;
}
.burger i:nth-of-type(1) {
  display: block;
}
.burger i:nth-of-type(2) {
  display: none;
}
.burger.burger-open {
  color: #2a3255;
}
.burger.burger-open i:nth-of-type(1) {
  display: none;
}
.burger.burger-open i:nth-of-type(2) {
  display: block;
}

.body-open  {
  overflow: hidden;
}

.mt-mobile {
  position: absolute;
  top: 0;
  z-index: 11;
  left: 0;
  height: 100vh;
  width: 240px;
  padding: 58px 0 0 0;
  background-color: #fff;
  transition: 0.5s ease all;
  clip-path: circle(100%);
}


.mt-mobile.nav-open {
  clip-path: circle(0px at 0px 0%);
}

.burger i svg {

}



/*header*/

.header {
  padding: 24px 0 0 0;
}

.header-wrap {
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header-logo {
  margin:0 34px 0 0;
}

.header-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.header-logo a img {
  padding: 0 13px 0 0;
}

.header-nav {
  margin: 0 0 0 -425px;
}

.header-ul {
  display: flex;
  align-items: center;
}

.header-li {
  padding: 0 15px;
}

.header-li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.header-li a:hover {
  color: #6B1A23;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-link2 {
  padding: 0 0 0 68px;
}

.header-link2 a {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: underline;
}

/*work*/

.work {
  height: 845px;
  background: url(../images/work-bg.png) center;
  background-size: cover;
}

.work-wrap {
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 558px;
}

.work-title {
  font-family: 'AtypDisplay-Regular';
  font-size: 75px;
  line-height: 106px;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}

.work-sutitle {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: 'AtypDisplay-Regular';
}

.work-sutitle a {
  font-family: 'AtypDisplay-Regular';
  text-decoration: underline;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.work-arrow {
  margin: 35px -4px 0 0;
}


/*activities*/

.activities {
  background: url(../images/activities-bg.png) 0 20% no-repeat;
  padding: 109px 0 0 0;
}

.activities-container {
  padding: 0 9px 0 18px;
}

.activities-wrap {
  display: flex;
}

.activities-block {
  width: 30%;
}

.activities-border {

  background: #FFFFFF;
  border-radius: 8px;
  width: 100%;
  padding: 168px 0 20px 0;
}

.activities-title {
  padding: 0 0 630px 28px;
  font-size: 18px;
  line-height: 26px;
  color: #6B1A23;
}

.activities-link {
  padding: 20px 0 0 0;
  border-top: 1px solid #6B1A23;
}

.activities-link a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  font-size: 16px;
  line-height: 25px;
  color: #6B1A23;
  text-decoration: none;
}

.activities-link a:hover {
  color: #191919;
}

.activities-link a:hover svg path {
  fill: #191919;
}

.activities-block2 {
  padding: 203px 0 0 9px;
  width: 70%;
}

.activities-inner {
  display: flex;
}

.activities-inner-block {
  padding: 0 9px;
  width: 33.333333%;
}

.activities-inner-block2 {
  padding: 120px 9px 0 9px;
  width: 33.333333%;
}

.activities-inner-block3 {
  padding: 240px 9px 0 9px;
  width: 33.333333%;
}

.activities-card {
  padding: 0 0 20px 0;
}

.activities-card-border {
  background: url(../images/card-bg.png) 0 0 no-repeat;
  height: 647px;
  padding: 18px 0 0 30px;
  border-radius: 8px;
}

.activities-card-border2 {
  background: url(../images/card-bg2.png) 0 0 no-repeat;
  height: 647px;
  padding: 18px 0 0 30px;
  border-radius: 8px;
}

.activities-card-border3 {
  background: url(../images/card-bg3.png) 0 0 no-repeat;
  height: 647px;
  padding: 18px 0 0 30px;
  border-radius: 8px;
}

.activities-card-border4 {
  background: url(../images/card-bg4.png) 0 0 no-repeat;
  height: 647px;
  padding: 18px 0 0 30px;
  border-radius: 8px;
}

.activities-card-border5 {
  background: url(../images/card-bg5.png) 0 0 no-repeat;
  height: 647px;
  padding: 18px 0 0 30px;
  border-radius: 8px;
}

.activities-card-border6 {
  background: url(../images/card-bg.png) 0 0 no-repeat;
  height: 647px;
  padding: 18px 0 0 30px;
  border-radius: 8px;
}

.activities-card-number {
  font-size: 11px;
  line-height: 35px;
  color: #6B1A23;
}

.activities-card-title {
  padding: 29px 0 0 0;
  font-family: 'AtypDisplay-Regular';
  font-size: 35px;
  line-height: 35px;
  color: #6B1A23;
}

.activities-card-suptitle {
  padding: 26px 0 0 0;
  font-size: 16px;
  line-height: 25px;
  color: #444444;
  opacity: 0.75;
}

/*projects*/

.projects {
  padding: 139px 0 0 0;
  background: #fff;
}

.projects-title {
  font-family: 'AtypDisplay-Regular';
  font-size: 60px;
  line-height: 54px;
  color: #191919;
}

.projects-link {
  margin-top: 42px;
  padding: 16px 0 0 0;
  border-top: 1px solid #444444;
  width: 409px;
  margin-bottom: 20px;
}

.projects-link a {
  font-size: 16px;
  line-height: 25px;
  color: #6B1A23;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.projects-link a svg {
  padding: 0 0 0 13px;
}

.projects-link a:hover {
  color: #191919;
}

.projects-link a:hover svg path {
  fill: #191919;
}




/*main-characteristics*/

.main-characteristics {
  padding: 138px 0 250px 0;
  background: #fff;
}

.main-characteristics-title {
  font-family: 'AtypDisplay-Regular';
  font-size: 60px;
  line-height: 54px;
  color: #191919;
}

.main-characteristics-wrap {
  padding: 200px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-characteristics-block {
  width: 25%;
}

.main-characteristics-text {
  padding: 50px 0 0 0;
}

.main-characteristics-number {
  font-family: 'AtypDisplay-Regular';
  font-size: 108px;
  line-height: 54px;
  letter-spacing: -0.025em;
  color: #191919;
}

.main-characteristics-suptitle {
  padding: 45px 0 0 0;
  font-size: 18px;
  line-height: 26px;
  color: #191919;
}


/*geography-activity*/

.geography-activity {
  position: relative;
  background: url(../images/geography-activity-bg.png) center;
  background-size: cover;
  height: 1125px;
  padding: 128px 0 0 0;
}

.geography-activity:before {
  background: url(../images/geography-activity-bf.png) 0 0 no-repeat;
  content: '';
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 253px;
}

.geography-activity-wrap {
  display: flex;
}

.geography-activity-block {
  width: 25%;
}

.geography-activity-title {
  font-size: 16px;
  line-height: 25px;
  color: rgba(67, 60, 64, 0.75);
}

.geography-activity-block2 {
  width: 75%;
}

.geography-activity-suptitle {
  font-size: 35px;
  line-height: 51px;
  color: #131313;
}

.geography-activity-suptitle span {
  color: #6B1A23;
}

.geography-activity-link {
  padding: 29px 0 0 0;
}

.geography-activity-link a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  color: #6B1A23;
  text-decoration: none;
}

.geography-activity-link a svg {
  padding: 0 0 0 15px;
}

.geography-activity-link a:hover {
  color: #191919;
}

.geography-activity-link a:hover svg path {
  fill: #191919;
}


/*ourmission*/

.ourmission {
  padding: 60px 0 0 0;
}

.ourmission-container {
  padding: 0 18px;
}

.ourmission-wrap {
  display: flex;
}

.ourmission-block {
  width: 40%;
}

.ourmission-card {
  padding: 0 0 127px 0;
}

.ourmission-card-border {
  position: relative;
  background: url(../images/ourmission-card-border.png) 0 0 no-repeat;
  height: 915px;
  padding: 30px 127px 25px 30px;
  border-radius: 8px;
}

.ourmission-card-border3 {
  position: relative;
  background: url(../images/ourmission-card-border3.png) 0 0 no-repeat;
  height: 916px;
  padding: 30px 127px 25px 30px;
  border-radius: 8px;
}

.ourmission-card-border2 {
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 30px 127px 30px 30px;
}

.ourmission-card-title {
  font-size: 16px;
  line-height: 25px;
  color: rgba(67, 60, 64, 0.75);
}

.ourmission-card-title2 {
  font-size: 16px;
  line-height: 25px;
  color: rgba(249, 249, 249, 0.6);
}

.ourmission-card-suptitle {
  padding: 63px 0 0 0;
  font-size: 30px;
  line-height: 37px;
  color: #191919;
}



.ourmission-card-suptitle2 {
  padding: 35px 0 0 0;
  font-size: 30px;
  line-height: 37px;
  color: #191919;
}

.ourmission-card-suptitle3 {
  padding: 35px 0 0 0;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
}

.ourmission-card-suptitle span {
  color: #6B1A23;
}

.ourmission-card-suptitle2 span {
  color: #6B1A23;
}

.ourmission-card-suptitle3 span {
  color: rgba(249, 249, 249, 0.6);
}

.ourmission-card-link {
  position: absolute;
  width: 200px;
  bottom: 25px;
}

.ourmission-card-link2 {
  position: absolute;
  width: 200px;
  bottom: 25px;
}

.ourmission-card-link a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  color: #6B1A23;
  text-decoration: none;
}

.ourmission-card-link a svg {
  padding: 0 0 0 15px;
}

.ourmission-card-link a:hover {
  color: #191919;
}

.ourmission-card-link a:hover svg path {
  fill: #191919;
}

.ourmission-card-link2 a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
}

.ourmission-card-link2 a svg {
  padding: 0 0 0 15px;
}

.ourmission-card-link2 a svg path {
  fill: #fff;
}

.ourmission-card-link2 a:hover {
  color: #6B1A23;
}

.ourmission-card-link2 a:hover svg path {
  fill: #6B1A23;
}

.ourmission-card-info {
  padding: 85px 0 0 0;
  font-size: 16px;
  line-height: 25px;
  color: rgba(67, 60, 64, 0.75);
}

.ourmission-card-info a {
  font-size: 16px;
  line-height: 25px;
  color: rgba(67, 60, 64, 0.75);
  text-decoration: underline;
}

.ourmission-block2 {
  padding: 350px 0 0 50px;
  width: 20%;
}

.ourmission-title {
  font-size: 13px;
  line-height: 26px;
  color: #3D3A41;
}

.ourmission-title2 {
  padding: 80px 0 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #3D3A41;
  opacity: 0.75;
}

.ourmission-block3 {
  padding: 460px 0 0 0;
  width: 40%;
}


/*ournews*/

.ournews {
  padding: 170px 0 180px 0;
}

.ournews-container {
  padding: 0 9px;
}

.ournews-wrap {
  display: flex;
  padding: 20px 0 0 0;
}

.ournews-block {
  width: 50%;
  padding: 0 9px;
}

.ournews-border {
  background: #fff;
}

.ournews-inner {
  display: flex;
}

.ournews-inner-block {
  width: 15%;
  border-right: 1px solid #E3E7E6;
}

.ournews-data {
  padding: 71px 0 0 30px;
}

.ournews-number {
  font-size: 38px;
  line-height: 26px;
  color: #002254;
}

.ournews-month {
  font-size: 15px;
  line-height: 26px;
  color: #002254;
}

.ournews-number2 {
  font-size: 38px;
  line-height: 26px;
  color: #191919;
}

.ournews-month2 {
  font-size: 15px;
  line-height: 26px;
  color: #191919;
}

.ournews-year {
  font-size: 11px;
  line-height: 35px;
  color: #433C40;
  opacity: 0.6;
}

.ournews-inner-block2 {
  width: 85%;
  padding: 20px 0 0 40px;
}

.ournews-title {
  font-size: 14px;
  line-height: 26px;
  color: rgba(67, 60, 64, 0.6);
}

.ournews-suptitle {
  padding: 15px 0 0 0;
  font-size: 18px;
  line-height: 28px;
  color: #191919;
}

.ournews-link {
  padding: 52px 0 22px 0;
}


.ournews-link a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  color: #6B1A23;
  text-decoration: none;
}

.ournews-link a svg {
  padding: 0 0 0 15px;
}

.ournews-link a:hover {
  color: #191919;
}

.ournews-link a:hover svg path {
  fill: #191919;
}


/*sponsors*/

.sponsors {
  background: #fff;
  padding: 80px 0;
  margin-bottom: 2px;
}

.sponsors-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsors-block {
  text-align: center;
  width: 20%;
}

/*.question-write*/

.question-write {
  padding: 90px 0 250px 0;
  background: #fff;
}

.question-write-title {
  font-family: 'AtypDisplay-Regular';
  font-size: 70px;
  line-height: 99px;
  letter-spacing: -0.025em;
  color: #191919;
}

.question-write-link a {
  font-family: 'AtypDisplay-Regular';
  text-decoration: none;
  font-size: 70px;
  line-height: 99px;
  letter-spacing: -0.025em;
  color: #6B1A23;
}

.question-write-link a:hover {
  color: #191919;
}


/*footer*/

.footer {
  background: #fff;
}

.footer-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
}

.footer-ul {
  display: flex;
  align-items: center;
}

.footer-li {
  padding: 0 30px 0 0;
}

.footer-li a {
  font-size: 18px;
  line-height: 23px;
  color: #131313;
  text-decoration: none;
}

.footer-li a:hover {
  color: #6B1A23;
}

.footer-input input {
  font-size: 18px;
  line-height: 23px;
  color: #131313;
  margin: 0 0 0 0;
  width: 491px;  
  height:84px; 
  background: #FFFFFF url(../images/footer-search.svg) 100% 50% no-repeat;
  border-bottom: 1px solid #000;
  box-sizing: border-box;  
}

.footer-input input::-webkit-input-placeholder {
 color: #131313;
}

.footer-input input::-moz-placeholder {
  color: #131313;
}

.footer-input input:-ms-input-placeholder {
  color: #131313;
}

.footer-input input::placeholder {
  color: #131313;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 30px 0;
}

.footer-title {
  font-size: 16px;
  line-height: 28px;
  color: #131313;
}

.footer-suptitle {
  font-size: 16px;
  line-height: 25px;
  color: #131313;
}

.footer-container {
  padding: 0;
}

.footer-bottom {
  display: flex;
  align-items: center;
}

.footer-block {
  width: 33.33333%;
}

.footer-border {
  background: #131313;
  height: 170px;
  width: 100%;
}

.footer-border2 {
  background: #6B1A23;
  height: 170px;
  width: 100%;
}

.footer-border3 {
  background: #433C40;
  height: 170px;
  width: 100%;
}




.ournews-slayder {
  display: none;
}

.card-mb {
  display: none;
}

.activities-slayder {
  display: none;
}

.mb-none2 {
  display: none;
}

.activities-mb2 {
  display: none;
}



body #user-button {
  z-index: 1000;
  bottom: 1rem !important;
  right: 1rem !important;
  color: var(--user-button-text);
  transition: 1s 0s ease-out;
  -webkit-animation: slide 3s ease-out forwards;
          animation: slide 3s ease-out forwards;
}
@-webkit-keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
@keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
body #user-button .u-card {
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow), inset 0 0 1rem -0.75rem var(--user-button-shadow);
}
body #user-button .u-main {
  cursor: pointer;
  --user-button-background:var(--user-button-main, #EC87C0);
}
body #user-button .u-main img {
  height: 100%;
  width: 100%;
}
body #user-button .u-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transition: 0s 4s;
}
body #user-button .u-icons {
  position: relative;
  z-index: 950;
  transform: translate(-50%, -50%);
  background: var(--user-button-circle);
  box-shadow: 0 0 0 0.125rem var(--user-button-cardborder);
  border-radius: 100%;
  transition: 0.25s;
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /*&:before {
     z-index:-1;
     position:absolute;
     top:0; right:0; bottom:0; left:0;
     content:'';

     backdrop-filter: blur(10px);
  }*/
}
body #user-button .u-icons a {
  color: inherit;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
body #user-button .u-icons a div {
  padding: 0.5rem;
  transition: 0s;
}
body #user-button .u-icons a[href="https://twitter.com/Osorpenke"] {
  position: relative;
}
body #user-button .u-icons a[href="https://twitter.com/Osorpenke"]:before {
  content: "Middle Click";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in;
  background: #fffc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
body #user-button .u-icons a[href="https://twitter.com/Osorpenke"].show:before {
  opacity: 1;
  transition: 0.25s ease-out;
}
body #user-button .u-icons a[href="https://twitter.com/Osorpenke"] div {
  color: #1da1f2;
}
body #user-button .u-icons a[href="https://codepen.io/z-"] div {
  background: black;
  color: white;
}
body #user-button .u-icons a.u-random div {
  position: relative;
  top: -1px;
  -webkit-animation: diespin 2s linear infinite;
          animation: diespin 2s linear infinite;
}
@-webkit-keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body #user-button .u-icons a.u-random:not(:hover) div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
body #user-button .u-icons > * {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--singlecolour);
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.25s -0.05s;
}
body #user-button .u-icons > *:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #user-button .u-icons > *:hover, body #user-button .u-icons > *:focus-within {
  background: var(--hcolour);
}
body #user-button .u-icons > *:first-child:nth-last-child(1):nth-child(1), body #user-button .u-icons > *:first-child:nth-last-child(1) ~ *:nth-child(1) {
  left: 25%;
  top: 25%;
}
body #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(1), body #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(2), body #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(1), body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(2), body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(3), body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(1), body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(2), body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(3), body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(4), body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
body #user-button:hover .u-icons, body #user-button:focus-within .u-icons {
  width: 300% !important;
  height: 300% !important;
}



.credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 1920px;
  width: calc(100% - 0px);
  height: 692px;
}
@media screen and (max-width: 718px) {
  .options {
    min-width: 520px;
  }
  .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .options {
    min-width: 440px;
  }
  .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .options {
    min-width: 360px;
  }
  .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .options {
    min-width: 280px;
  }
  .options .option:nth-child(2) {
    display: none;
  }
}
.options .option {
  position: relative;
  overflow: hidden;
  min-width: 90px;
  margin: 0 0px 0 -12px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  /* z-index: 1111; */
}
.options .option:nth-child(1) {
  --defaultBackground: #ed5565;
}
.options .option:nth-child(2) {
  --defaultBackground: #fc6e51;
}
.options .option:nth-child(3) {
  --defaultBackground: #ffce54;
}
.options .option:nth-child(4) {
  --defaultBackground: #2ecc71;
}
.options .option:nth-child(5) {
  --defaultBackground: #5d9cec;
}
.options .option:nth-child(6) {
  --defaultBackground: #ac92ec;
}
.options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 1640px;
  margin: 0px -12px 0 -12px;
  border-radius: 0px 16px 16px 0px;
  background-size: auto 100%;
  /*&:active {
     transform:scale(0.9);
  }*/
}

.options .option.active:last-child {
  margin:0 0 0 -12px;

}

.option-relative {
  position: relative;
  z-index: 2;
}

.option-relative2 {
  position: relative;
  z-index: 1;
}


.options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.options .option.active .label {
  bottom: 100px;
  left: 66px;
}
.options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.options .option:not(.active) {
  flex-grow: 1;
  border-radius: 0px 16px 16px 0px;
}
.options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
.options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.options .option .label .info .main {
  font-size: 50px;
line-height: 54px;
font-family: 'AtypDisplay-Regular';
}
.options .option .label .info .sub {
  transition-delay: 0.1s;
}





@media (max-width: 1240px) {
 
}
