

@media screen and (max-width: 1700px) {
	
	.header-nav {
	    margin: 0 0 0 -300px;
	}
	

	
}

@media screen and (max-width: 1500px) {
	
	.header-nav {
	    margin: 0 0 0 -150px;
	}
	
	.ourmission-card-border {
		padding: 30px 30px 25px 30px;
	}

	.ourmission-card-border2 {
		padding: 30px 30px 25px 30px;
	}

	.ourmission-card-border3 {
		padding: 30px 30px 25px 30px;
	}
	
}

@media screen and (max-width: 1440px) {
	.container {
		padding: 0 30px;
	}

	.activities-container {
		padding: 0 6px 0 15px;
	}

	.ourmission-container {
	    padding: 0 15px;
	}

	.ournews-container {
	    padding: 0 6px;
	}

	.footer-container {
		padding: 0
	}
}


@media screen and (max-width: 1366px) {
	
	.container {
		padding: 0 15px;
	}

	.activities-container {
	    padding: 0 6px 0 15px;
	}

	.ourmission-container {
	    padding: 0 15px;
	}

	.ournews-container {
	    padding: 0 6px;
	}

	.footer-container {
		padding: 0;
	}

	.work {
		height: 600px;
		background-size: 1366px;
	}

	.work-wrap {
		top: 350px;
	}

	.activities-block {
	    width: 20%;
	}

	.activities-block2 {
		padding: 120px 0 0 9px;
		width: 80%;
	}

	.activities-card-border {
		background-size: 337px;
		height: 508px;
	}

	.activities-card-border2 {
		background-size: 337px;
		height: 508px;
	}

	.activities-card-border3 {
		background-size: 337px;
		height: 508px;
	}

	.activities-card-border4 {
		background-size: 337px;
		height: 508px;
	}

	.activities-card-border5 {
		background-size: 337px;
		height: 508px;
	}

	.activities-card-border6 {
		background-size: 337px;
		height: 508px;
	}

	.main-characteristics-number {
		font-size: 70px;
	}

	.ournews-inner-block2 {
		padding: 20px 20px 0 20px;
	}

	.ournews-suptitle br {
		display: none;
	}

	.ournews-suptitle {
		height: 130px;
	}

	.activities-border {
		padding: 40px 0 20px 0;
	}

	.activities-title {
		padding: 0 0 300px 28px;
	}
	

	
}

@media screen and (max-width: 1350px) {
	
}

@media screen and (max-width: 1300px) {
	.header-nav {
	    margin: 0 0 0 -50px;
	}
}

@media screen and (max-width: 1290px) {
	
}

@media screen and (max-width: 1230px) {
	
}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {
	.header-logo a {
		font-size: 14px;
		line-height: 20px;
	}

	.header-li a {
		font-size: 14px;
		line-height: 20px;
	}

	.work-title {
		font-size: 50px;
		line-height: 70px;
	}

	.activities-link a {
		padding: 0 20px;
		font-size: 14px;
		line-height: 20px;
	}

	.activities-title {
		padding: 0 0 300px 20px;
		font-size: 14px;
		line-height: 20px;
	}

	.activities-card-border {
		padding: 18px 20px 0 20px;
	}

	.activities-card-border2 {
		padding: 18px 20px 0 20px;
	}

	.activities-card-border3 {
		padding: 18px 20px 0 20px;
	}

	.activities-card-border4 {
		padding: 18px 20px 0 20px;
	}

	.activities-card-border5 {
		padding: 18px 20px 0 20px;
	}

	.activities-card-border6 {
		padding: 18px 20px 0 20px;
	}

	.activities-card-title {
		font-size: 33px;
		line-height: 35px;
	}

	.activities-card-suptitle {
		font-size: 14px;
		line-height: 20px;
	}

	.activities-card-suptitle br {
		display: none;
	}

	.activities {
		padding: 90px 0 0 0;
	}

	.projects {
		padding: 80px 0 0 0;
	}

	.main-characteristics {
		padding: 90px 0 45px 0;
	}

	.geography-activity {
		padding: 42px 0 0 0;
	}

	.geography-activity {
		background-size: 1200px;
		height: 700px;
	}

	.geography-activity-suptitle {
		font-size: 20px;
		line-height: 30px;
	}

	.geography-activity:before {
		background-size: 1200px;
		height: 100px;
	}

	.main-characteristics-wrap {
		padding: 60px 0 0 0;
	}

	.main-characteristics-img img {
		width: 80px;
		height: 80px;
	}

	.main-characteristics-number {
		font-size: 50px;
	}

	.main-characteristics-text {
		padding: 15px 0 0 0;
	}

	.main-characteristics-suptitle {
		padding: 15px 0 0 0;
		font-size: 14px;
		line-height: 20px;
	}

	.ourmission-card-suptitle {
		padding: 20px 0 0 0;
		font-size: 14px;
		line-height: 20px;
	}

	.ourmission-card-border {
		background-size: 470px;
		height: 535px;
	}

	.ourmission-card-border3 {
		background-size: 470px;
		height: 535px;
	}

	.ourmission-card {
		padding: 0 0 35px 0;
	}

	.ourmission-card-suptitle2 {
		font-size: 14px;
		line-height: 20px;
	}

	.ourmission-card-info {
		padding: 20px 0 0 0;
		font-size: 12px;
		line-height: 18px;
	}

	.ourmission-card-info a {
		font-size: 12px;
		line-height: 18px;
	}

	.ourmission-card-suptitle3 {
		padding: 20px 0 0 0;
		font-size: 14px;
		line-height: 20px; 
	}

	.ournews-data {
		padding: 71px 0 0 20px;
	}

	.ournews-number {
		font-size: 24px;
	}

	.ournews-number2 {
		font-size: 24px;
	}

	.ournews-suptitle {
		height: 100px;
		font-size: 14px;
		line-height: 20px;
	}

	.ournews-link {
	    padding: 25px 0 22px 0;
	}

	.ournews {
		padding: 40px 0 30px 0;
	}

	.sponsors {
		padding: 50px 0;
	}

	.question-write {
		padding: 40px 0 70px;
	}

	.question-write-title {
		font-size: 33px;
		line-height: 35px;
	}

	.question-write-link a {
		font-size: 43px;
		line-height: 60px;
	}

	.footer-li a {
		font-size: 14px;
		line-height: 20px;
	}

	.footer-input input {
		width: 342px;
	}

	.projects-title {
		font-size: 35px;
		line-height: 37px;
	}

	.main-characteristics-title {
		font-size: 35px;
		line-height: 37px;
	}

	.projects-link {
		width: 245px;
	}




}

@media screen and (max-width: 1190px) {
	
}

@media screen and (max-width: 1170px) {
	
}

@media screen and (max-width: 1110px) {
	.header-nav {
		margin: 0;
	}

	.header-li {
		padding: 0 10px;
	}

	.header-link2 {
		padding: 0 0 0 20px;
	}
  
}

@media screen and (max-width: 1050px) {
	
	

  
}


@media screen and (max-width: 1024px) {
	
  
}



/* стили для sm-устройств */
@media screen and (max-width: 992px) {
	.footer-li {
		padding: 0 20px 0 0;
	}

	.footer-input input {
		height: 45px;
		font-size: 14px;
		line-height: 28px;
		color: #444444;
		opacity: 0.45;
	}
  
}

@media screen and (max-width: 950px) {
	
}

@media screen and (max-width: 900px) {
	
	/*Burger*/

	  .burger {
	    display: block !important;
	  }

	  .mt-munu-mb .header-navigation-wr {
	    display: block !important;
	  }

	  .header-nav {
	  	display: none;
	  }

	  .header-ul {
	  	display: block;
	  }

	  .header-li {
	  	padding: 15px 0 0 0;
	  }

	  .header-li a {
	  	color: #444;
	  }

	  .header-link {
	  	display: none;
	  }

	  .header-logo {
	  	position: absolute;
	  	left: 44%;
	  }

	  .header-logo a {
	  	flex-direction: column;
	  	font-size: 10px;
	  	line-height: 11px;
	  }

	  .header-logo a img {
	  	width: 38px;
	  	padding: 0 0 5px 0;
	  }

	  .header-wrap {
	  	justify-content: flex-end;
	  }

	  .work {
	  	height: 669px;
	  	background-size: 1520px;
	  	background: url(../images/work-bg.png) 46% 50% no-repeat;
	  }

	  .work-wrap {
	    top: 115px;
	  }

	  .work-sutitle {
	  	padding: 330px 0 0 0;
	  }

	  .work-arrow {
	    padding: 407px 0 0 0;
	}

	.activities-wrap {
		flex-wrap: wrap;
	}

	.activities-block {
		width: 100%;
	}

	.activities-title {
		padding: 0 0 20px 20px;
	}

	.activities-border {
		width: 250px;
	}

	.activities-block2 {
		padding: 40px 0 0 0;
		width: 100%;
	}

	.main-characteristics-wrap {
		padding: 20px 0 0 0;
		flex-wrap: wrap;
	}

	.main-characteristics-block {
		padding: 35px 0 0 0;
		width: 50%;
	}

	.geography-activity-wrap {
		flex-wrap: wrap;
	}

	.geography-activity-block {
		width: 100%;
	}

	.geography-activity-block2 {
		padding: 20px 0 0 0;
		width: 100%;
	}

	.footer-wrap {
		flex-wrap: wrap;
	}

	.footer-nav {
		width: 100%;
	}

	.footer-input {
		padding: 30px 0 0 0;
	}




	
	
}

@media screen and (max-width: 850px) {
	
}

@media screen and (max-width: 800px) {
	
	.ournews-slayder {
		padding: 40px 0 0 0;
		display: block;
	}

	.ournews-wrap {
		display: none;
	}

	.ournews-block {
		width: 100%;
		padding: 0;
	}

	.mb-none {
		display: none !important;
	}

	

	.card-mb {
		display: block;
	}

	.ourmission-block2 {
		display: none;
	}

	.ourmission-block3 {
		display: none;
	}

	.ourmission-block {
		width: 100%;
	}

	.ourmission-card-link {
		width: 200px;
	}

	.ourmission-card-link2 {
		width: 200px;
	}

	.ourmission-card {
		padding: 0;
	}

	.ourmission-card2 {
		padding: 35px 0 0 0;
	}

	.ourmission-card-border3 {
		width: 470px;
	}

	.ourmission-card-border2 {
		width: 470px;
	}

	.ourmission-card-border {
		width: 470px;
	}

	.activities-slayder {
		padding: 100px 0 0 0;
		display: block;
	}

	.activities-block2 {
		display: none;
	}

	.activities-border {
		width: 100%;
		background: none;
		padding: 0;
	}

	.activities-title {
		padding: 0;
	}

	.mb-none2 {
	
		display: flex;
		justify-content: right;
		border: none;
		padding: 20px 0 0 0;
		width: 100%;
		margin: 0;
	}

	.activities {
		padding: 90px 0 20px 0;
	}

	.activities-mb2 {
		display: flex;
		justify-content: right;
		border: none;
		padding: 20px 0 0 0;
		width: 100%;
		margin: 0;
	}

	.activities-card {
		padding: 0;
	}

	.activities-link a {
		padding: 0;
		justify-content: flex-end;
	}

	.activities-link a svg {
		padding: 0 0 0 10px;
	}

	.activities-card-border {
		padding: 15px 20px 20px 20px;
		background-size: 343px;
		width: 343px;
		height: 518px;
	}

	.activities-card-border2 {
		padding: 15px 20px 20px 20px;
		background-size: 343px;
		width: 343px;
		height: 518px;
	}	

	.activities-card-border3 {
		padding: 15px 20px 20px 20px;
		background-size: 343px;
		width: 343px;
		height: 518px;
	}	

	.activities-card-border4 {
		padding: 15px 20px 20px 20px;
		background-size: 343px;
		width: 343px;
		height: 518px;
	}	

		.activities-card-border5 {
		padding: 15px 20px 20px 20px;
		background-size: 343px;
		width: 343px;
		height: 518px;
	}	

	.activities-card-border6 {
		padding: 15px 20px 20px 20px;
		background-size: 343px;
		width: 343px;
		height: 518px;
	}

	.activities-mb {
		display: none;
	}	

	.activities {
		background-size: 800px;
	}

}



/* Ipad*/ 
@media screen and (max-width: 768px) {
	

	
	
}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
	
	.work-sutitle {
		padding: 290px 0 0 0;
	}
	

}

@media screen and (max-width: 590px) {
  	
}


@media screen and (max-width: 540px) {
  
}

@media screen and (max-width: 500px) {
  	.work-title {
  		font-size: 43px;
  		line-height: 50px;
  	}

  	.work-sutitle {
  		font-size: 14px;
  		line-height: 20px;
  	}

  	.work-sutitle a {
  		font-size: 14px;
  		line-height: 20px;
  	}

  	.sponsors-img img {
  		width: 50px;
  	}

  	.footer-ul {
  		display: block;
  	}

  	.footer-li {
  		padding: 15px 0 0 0;
  	}

  	.footer-title {
  		font-size: 10px;
  	}

  	.footer-suptitle {
  		font-size: 10px;
  	}

  	.footer-bottom {
  		flex-wrap: wrap;
  	}

  	.footer-block {
  		width: 100%;
  	}

  	.footer-border {
  		height: 40px;
  	}

  	.footer-border2 {
  		height: 40px;
  	}

  	.footer-border3 {
  		height: 40px;
  	}

  	.ournews-inner {
  		position: relative;
  		flex-wrap: wrap;
  	}

  	.ournews-inner-block {
  		width: 100%;
  		padding: 20px 0 0 20px;
  		border: none;
  	}

  	.ournews-data {
  		display: flex;
  		padding: 0;
  	}

  	.ournews-inner-block2 {
  		width: 100%;
  	}

  	.ournews-data-block {
  		padding: 0 0 0 8px;
  	}

  	.ournews-month {
  		font-size: 12px;
  		line-height: 16px;

  	}

  	.ournews-month2 {
  		font-size: 12px;
  		line-height: 16px;

  	}

  	.ournews-year {
  		font-size: 10px;
  		line-height: 5px;
  	}

  	.ournews-title {
  		position: absolute;
  		top: 19px;
  		left: 100px;
  	}

  	.ourmission-card-border {
  		width: 100%
  	}

  	.ourmission-card-border2 {
  		width: 100%
  	}

  	.ourmission-card-border3 {
  		width: 100%
  	}
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  	.header-logo {
	    position: absolute;
	    left: 35%;
	}

	.geography-activity-suptitle {
		font-size: 14px;
		line-height: 20px;
	}

	.main-characteristics-block {
		width: 100%;
	}

	.main-characteristics-text {
		display: flex;
	}

	.main-characteristics-suptitle {
		padding: 0 0 0 15px;
		width: 200px;
	}

	.ourmission-card-border {
		height: 390px;
	}

	.ourmission-card-border3 {
		height: 390px;
	}


}

@media screen and (max-width: 460px) {
  

 
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  

  	

  	
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {
	
	.header-logo {
	    position: absolute;
	    left: 30%;
	}
	
	
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}